/* src/index.css */

/* ===== IMPORTS ===== */
@import "tailwindcss";

/* ===== POLICES GOOGLE ===== */

/* ===== BASE ===== */
@layer base {
  /* Titres en Syne */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Syne', sans-serif;
    font-weight: 700;
  }

  
  html, body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  background-color: #0c0a09; /* Force la couleur stone-950 partout */
  overscroll-behavior-y: none; /* Bloque l'effet élastique blanc sur mobile */
}

  /* Par défaut tout en Outfit */
  * {
    font-family: 'Outfit', sans-serif;
  }
}

/* ===== COMPOSANTS ===== */
@layer components {
  .font-syne {
    font-family: 'Syne', sans-serif !important;
  }
  .font-outfit {
    font-family: 'Outfit', sans-serif !important;
  }
}